@use "../variables";

.dinexa-button {
  color: white;
  font-weight: 700;

  width: fit-content;

  &:hover {
    color: white;
    background: $action-color;
  }
}

.secondary-button {
  color: $text-secondary-color;
  font-weight: 600;
  border: none;
  background: none;

  &:hover {
    background: none;
    color: $text-secondary-color;
  }
}

.icon-button {
  padding: 0.425rem;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  svg {
    transform: scale(125%);
    color: $text-color;
  }

  &:hover {
    background: transparent;
  }
}

.gradient-button {
  border: none;
  background: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
}

.rounded-button {
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
}

.facebook-button {
  background: rgb(24, 119, 242);
  color: white;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover {
    background: rgba(24, 119, 242);
    color: white;
  }
}

.google-button {
  background: white;
  border: none;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover {
    background: inherit;
  }
}
