@use "../variables";

.cardOne {
  background: white;
  padding: 6%;
  box-shadow: 1px 5px 10px 1px rgba(black, 0.1);
  border-radius: 10px;
  color: $text-color;

  &--title {
    font-weight: 800;
  }

  &--desc {
    letter-spacing: 0.075rem;
    font-size: 0.825rem;
  }

  button {
    border-radius: 10px;
    width: 100%;
  }
}

// Earning card one
.earningCardOne {
  padding: 1rem;
  display: flex;
  gap: 0.825rem;
  align-items: center;

  svg {
    transform: translateY(2px);
    color: $action-color;
  }

  .pre-title {
    color: $text-color;
    font-weight: 800;
    display: block;
    margin-bottom: 0.225rem;
    font-size: 0.625rem;
    text-transform: uppercase;
  }

  .earning {
    font-weight: 800;
    position: relative;
  }
}

// Earning card two
.earningCardTwo {
  display: flex;
  gap: 0.825rem;
  align-items: center;

  svg {
    color: white;
    background: $action-color;
    border-radius: 30px;
    padding: 0.225rem;
  }

  .pre-title {
    color: $text-color;
    font-weight: 800;
    display: block;
    margin-bottom: 0.225rem;
    font-size: 0.585rem;
    text-transform: uppercase;
  }

  .earning {
    font-weight: 800;
    position: relative;
  }
}
