@use "../variables";

.cardOne {
  background: white;
  padding: 6%;
  border-radius: 10px;
  color: $text-color;
  box-shadow: 1px 5px 10px 1px rgba(black, 0.1);

  &--title {
    font-weight: 800;
  }

  &--desc {
    letter-spacing: 0.075rem;
    font-size: 0.825rem;
  }

  button {
    border-radius: 10px;
    width: 100%;
  }
}
