@use "../variables";

.cofi-form {
  label {
    font-weight: 700;
    font-size: 0.875rem;
  }

  select,
  input {
    font-size: 0.875rem;
    border: none;
    background: $background-color;
  }
}
