@use "../variables";

.dinexa-form {
  label {
    font-weight: 700;
    font-size: 0.875rem;
  }

  select,
  input {
    font-size: 0.875rem;
    border: none;
    background: $background-color;
  }
}

.wallet-form {
  padding: 0.425rem;

  .row {
    display: flex;
    align-items: center;

    label {
      font-weight: 600;
      width: 60%;
    }

    input,
    label,
    select {
      color: $text-secondary-color;
    }

    input,
    select {
      width: 38%;
      font-size: 0.8rem;
      border-radius: 10px;
    }
  }
}
