.landing-page-header {
  top: 0;
  min-height: 80px;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 50;
  backdrop-filter: blur(10px);
  background: rgba(22, 22, 23, 0.8);
  border-bottom: 1px rgba(gray, 0.3) solid;

  a {
    color: rgb(151, 151, 151);
  }
}
