@use "../variables";

// Message One
.messageOne {
  img {
    object-fit: contain;
  }
}

// Message TWo
.messageTwo {
  a {
    font-weight: 700;
  }
}

// Message not found one
.messageNotFoundOne {
  padding: 0.85rem 0.425rem;
  color: $text-secondary-color;
  display: flex;
  justify-content: center;
  gap: 0.425rem;
  font-weight: 600;
}
