@use "../variables";
.sidebarOne {
  height: 100%;
  width: 16.6%;
  position: fixed;
  top: 10;
  left: 0;
  background: white;

  .wrapper {
    height: 500px;
    overflow-y: scroll;
  }

  .nav-link {
    display: flex;
    gap: 1.5rem;
    font-size: 1.125rem;
    align-items: center;
    color: $text-secondary-color;
    font-weight: 700;

    &:hover {
      color: $action-color;
    }

    svg {
      transform: scale(125%);
    }
  }

  .nav-link.active {
    color: $action-color;
  }
}
