@use "./variables";

.cofi-form {
  input,
  select {
    color: rgb(151, 151, 151);
    background: rgb(19, 19, 19);
    border: none;

    &:focus-visible {
      color: rgb(151, 151, 151);
      background: rgb(19, 19, 19);
    }
  }
}
