@use "./variables";

.cofi-form {
  select,
  input {
    color: rgb(151, 151, 151);
    background: rgb(19, 19, 19);
    border: none;

    &:focus {
      color: rgb(151, 151, 151);
      background: rgb(19, 19, 19);
    }
  }
}
