.landing-page-header {
  top: 0;
  position: sticky;
  z-index: 50;
  backdrop-filter: blur(5px);
  background: rgba(white, 0.1);
  border-bottom: 1px gray solid;

  a {
    color: rgb(151, 151, 151);
  }
}
