@use "./variables";

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  background: $background-color;
  color: $text-color;
}

a {
  text-decoration: none;
}

.logo {
  color: $action-color;
  font-weight: 900;
}
