@use "./variables";

// Font size
.text-xs2 {
  font-size: 0.675rem;
}

.text-xs {
  font-size: 0.8rem;
}

.text-sm {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.225rem;
}

.text-xl {
  font-size: 1.425rem;
}

.text-xl2 {
  font-size: 1.725rem;
}

// Titles and descriptions

.title {
  &--1 {
    font-weight: 900;
  }

  &--2 {
    font-weight: 800;
  }

  &--3 {
    font-weight: 700;
  }
}

.subtitle {
  font-weight: 700;
  color: #152c5b;
}

.desc {
  color: $text-secondary-color;
}

// List

.list {
  display: flex;
  flex-direction: column;
  gap: 1.225rem;
  list-style: none;

  li {
    color: $text-secondary-color;
    font-weight: 600;
    font-size: 0.825rem;
    width: 80%;
  }
}

// Money movements

.money {
  font-weight: 700;
}

.money.gain {
  color: #659483;
  border-radius: 5px;
}

.money.spend {
  color: red;
}
