@use "./variables";

.title {
  &--1 {
    font-weight: 900;
  }

  &--2 {
    font-weight: 800;
  }

  &--3 {
    font-weight: 700;
  }
}

.subtitle {
  font-weight: 700;
  color: #152c5b;
}

.desc {
  color: $text-secondary-color;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.225rem;
  list-style: none;

  li {
    color: $text-secondary-color;
    font-weight: 600;
    font-size: 0.825rem;
    width: 80%;
  }
}
