$leonardo-ai-colors-black: #000000;
$leonardo-ai-colors-white: #ffffff;
$leonardo-ai-colors-whiteAlpha-50: rgba(255, 255, 255, 0.04);
$leonardo-ai-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
$leonardo-ai-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
$leonardo-ai-colors-whiteAlpha-300: rgba(255, 255, 255, 0.16);
$leonardo-ai-colors-whiteAlpha-400: rgba(255, 255, 255, 0.24);
$leonardo-ai-colors-whiteAlpha-500: rgba(255, 255, 255, 0.36);
$leonardo-ai-colors-whiteAlpha-600: rgba(255, 255, 255, 0.48);
$leonardo-ai-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
$leonardo-ai-colors-whiteAlpha-800: rgba(255, 255, 255, 0.8);
$leonardo-ai-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);

// Black
$leonardo-ai-colors-blackAlpha-50: rgba(0, 0, 0, 0.04);
$leonardo-ai-colors-blackAlpha-100: rgba(0, 0, 0, 0.06);
$leonardo-ai-colors-blackAlpha-200: rgba(0, 0, 0, 0.08);
$leonardo-ai-colors-blackAlpha-300: rgba(0, 0, 0, 0.16);
$leonardo-ai-colors-blackAlpha-400: rgba(0, 0, 0, 0.24);
$leonardo-ai-colors-blackAlpha-500: rgba(0, 0, 0, 0.36);
$leonardo-ai-colors-blackAlpha-600: rgba(0, 0, 0, 0.48);
$leonardo-ai-colors-blackAlpha-700: rgba(0, 0, 0, 0.64);
$leonardo-ai-colors-blackAlpha-800: rgba(0, 0, 0, 0.8);
$leonardo-ai-colors-blackAlpha-900: rgba(0, 0, 0, 0.92);

// Grays
$leonardo-ai-colors-gray-50: #f7fafc;
$leonardo-ai-colors-gray-100: #edf2f7;
$leonardo-ai-colors-gray-200: #e2e8f0;
$leonardo-ai-colors-gray-300: #cbd5e0;
$leonardo-ai-colors-gray-400: #a0aec0;
$leonardo-ai-colors-gray-500: #718096;
$leonardo-ai-colors-gray-600: #4a5568;
$leonardo-ai-colors-gray-700: #2d3748;
$leonardo-ai-colors-gray-800: #1a202c;
$leonardo-ai-colors-gray-900: #171923;
